

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head id="ctl00_mainHeader"><title>
	Aluminum 1050-H14
</title><meta http-equiv="Content-Style-Type" content="text/css" /><meta http-equiv="Content-Language" content="en" />

        <script src="/includes/flash.js" type="text/javascript"></script>

        <script src="/includes/prototype.js" type="text/javascript"></script>
        <!-- script src="/includes/scriptaculous/effects.js" type="text/javascript"></script -->
        <script src="/includes/matweb.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/includes/main.css" />

        <script type="text/javascript">

                function _onload(){
                        matweb.debug = false; // ;
                        //matweb.writeOverlay();
                }

                function _onkeydown(evt){
                        //PREVENT GLOBAL AUTO-SUBMIT OF FORMS
                        return matweb.DisableAutoSubmit(evt);
                }

                //EXAMPLE USAGE:
                //matweb.register_onload(function(){alert("hello from onload event");});
                //matweb.writeOverlay();


        </script>

        <style type="text/css" media="screen">
        @import url("/ad_IES/css/styles.css");
        </style>
</head>

<body onload="_onload();" onkeydown="return _onkeydown(event);">

<a id="Top"></a>

<div id="divSiteName" style="position:absolute; top:0; left:0 ;">
<a href="/index.aspx"><img src="/images/sitelive.gif" alt="" /></a>
</div>

<div id="divPopupOverlay" style="display:none;"></div>

<div id="divPopupAlert" class="popupAlert" style="display:none;">
        <table style="width:100%; height:100%; border-style:outset; border-width:5px; border-color:blue;" >
                <tr><th style=" height:25px; background-color:Maroon; font-size:14px; color:White; "><span id="spanPopupAlertTitle">System Message</span></th></tr>
                <tr><td style=" vertical-align:top; padding:3px; background-color:White;" id="tdPopupAlertMessage" ></td></tr>
                <tr><td style=" height:25px; text-align:center; background-color:Silver;"><input type="button" id="btnPopupAlert" onclick="matweb.alertClose();" style="" value="OK" /></td></tr>
        </table>
</div>

<form name="aspnetForm" method="post" action="DataSheet.aspx?MatGUID=b1aa69c0528a40729478403542a8c94a" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__LASTFOCUS" id="__LASTFOCUS" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE2NDQ3MzM3MjZkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYBBS1jdGwwMCRDb250ZW50TWFpbiR1Y0RhdGFTaGVldDEkY2hrQWRkVG9Gb2xkZXLRdlvvFIub1Bqfg5e3x/GC6uPyPg==" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=M68BSyLvwBMHRYzsSV62mvczr7w5VyKnq2JbgqcAAU1ioThlC6FNEVBncBdaA4oqf8cXPzy7QERzajvFfM67hSR6S0w1&amp;t=638313619312541215" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=148LWaywfmset9PYVR0m-KYXX9JfyGYGqOtIYBGEAzoJh5VhFBwSI6JxnmoNvgtlAprhvntpc6lTDbRMgdKxckUmc8m2qw_fOCsX0G9LC8ojUpw4cTHWXgfuT_vU6m2Kpv3mt01iCczrTE2-J5X6EeBa2281&amp;t=637769794779625837" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=v_V1UgDrDAchg8Zuc1FL4qkvmjt-bwap7ZxwVGGPleYiJ6zfDOTL6wtCmVvILjbwo_sqb2PMUTNkjO4vp6nd-E7WWXTPgSI5-nvn3YDnHrVk5bgVX4Qv6F0fV4wTSslmaLZ3k98tckojDLWAEI7jm8h0H4d7BoGYxkqsyh8-Iujfrjjm0&amp;t=637769794779625837" type="text/javascript"></script>
<script src="../WebServices/Materials.asmx/js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
Type.registerNamespace('aci.matweb.WebServices');
aci.matweb.WebServices.Folders=function() {
aci.matweb.WebServices.Folders.initializeBase(this);
this._timeout = 0;
this._userContext = null;
this._succeeded = null;
this._failed = null;
}
aci.matweb.WebServices.Folders.prototype={
AddMaterial:function(FolderID,MatID,MatName,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'AddMaterial',false,{FolderID:FolderID,MatID:MatID,MatName:MatName},succeededCallback,failedCallback,userContext); },
RemoveMaterial:function(FolderID,MatID,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'RemoveMaterial',false,{FolderID:FolderID,MatID:MatID},succeededCallback,failedCallback,userContext); },
GetFolderList:function(succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'GetFolderList',false,{},succeededCallback,failedCallback,userContext); },
SetSelectedFolder:function(FolderID,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'SetSelectedFolder',false,{FolderID:FolderID},succeededCallback,failedCallback,userContext); },
IsMatInFolder:function(FolderID,MatID,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'IsMatInFolder',false,{FolderID:FolderID,MatID:MatID},succeededCallback,failedCallback,userContext); },
AddFolder:function(NewFolderName,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'AddFolder',false,{NewFolderName:NewFolderName},succeededCallback,failedCallback,userContext); },
RenameFolder:function(SelectedFolderID,NewFolderName,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'RenameFolder',false,{SelectedFolderID:SelectedFolderID,NewFolderName:NewFolderName},succeededCallback,failedCallback,userContext); },
EmptyFolder:function(FolderID,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'EmptyFolder',false,{FolderID:FolderID},succeededCallback,failedCallback,userContext); },
DeleteFolder:function(FolderID,succeededCallback, failedCallback, userContext) {
return this._invoke(aci.matweb.WebServices.Folders.get_path(), 'DeleteFolder',false,{FolderID:FolderID},succeededCallback,failedCallback,userContext); }}
aci.matweb.WebServices.Folders.registerClass('aci.matweb.WebServices.Folders',Sys.Net.WebServiceProxy);
aci.matweb.WebServices.Folders._staticInstance = new aci.matweb.WebServices.Folders();
aci.matweb.WebServices.Folders.set_path = function(value) { aci.matweb.WebServices.Folders._staticInstance._path = value; }
aci.matweb.WebServices.Folders.get_path = function() { return aci.matweb.WebServices.Folders._staticInstance._path; }
aci.matweb.WebServices.Folders.set_timeout = function(value) { aci.matweb.WebServices.Folders._staticInstance._timeout = value; }
aci.matweb.WebServices.Folders.get_timeout = function() { return aci.matweb.WebServices.Folders._staticInstance._timeout; }
aci.matweb.WebServices.Folders.set_defaultUserContext = function(value) { aci.matweb.WebServices.Folders._staticInstance._userContext = value; }
aci.matweb.WebServices.Folders.get_defaultUserContext = function() { return aci.matweb.WebServices.Folders._staticInstance._userContext; }
aci.matweb.WebServices.Folders.set_defaultSucceededCallback = function(value) { aci.matweb.WebServices.Folders._staticInstance._succeeded = value; }
aci.matweb.WebServices.Folders.get_defaultSucceededCallback = function() { return aci.matweb.WebServices.Folders._staticInstance._succeeded; }
aci.matweb.WebServices.Folders.set_defaultFailedCallback = function(value) { aci.matweb.WebServices.Folders._staticInstance._failed = value; }
aci.matweb.WebServices.Folders.get_defaultFailedCallback = function() { return aci.matweb.WebServices.Folders._staticInstance._failed; }
aci.matweb.WebServices.Folders.set_path("/WebServices/folders.asmx");
aci.matweb.WebServices.Folders.AddMaterial= function(FolderID,MatID,MatName,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.AddMaterial(FolderID,MatID,MatName,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.RemoveMaterial= function(FolderID,MatID,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.RemoveMaterial(FolderID,MatID,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.GetFolderList= function(onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.GetFolderList(onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.SetSelectedFolder= function(FolderID,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.SetSelectedFolder(FolderID,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.IsMatInFolder= function(FolderID,MatID,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.IsMatInFolder(FolderID,MatID,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.AddFolder= function(NewFolderName,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.AddFolder(NewFolderName,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.RenameFolder= function(SelectedFolderID,NewFolderName,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.RenameFolder(SelectedFolderID,NewFolderName,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.EmptyFolder= function(FolderID,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.EmptyFolder(FolderID,onSuccess,onFailed,userContext); }
aci.matweb.WebServices.Folders.DeleteFolder= function(FolderID,onSuccess,onFailed,userContext) {aci.matweb.WebServices.Folders._staticInstance.DeleteFolder(FolderID,onSuccess,onFailed,userContext); }
var gtc = Sys.Net.WebServiceProxy._generateTypedConstructor;
Type.registerNamespace('aci.matweb.data.folder');
if (typeof(aci.matweb.data.folder.Folder) === 'undefined') {
aci.matweb.data.folder.Folder=gtc("aci.matweb.data.folder.Folder");
aci.matweb.data.folder.Folder.registerClass('aci.matweb.data.folder.Folder');
}
if (typeof(aci.matweb.WebServices.ReturnFolderData) === 'undefined') {
aci.matweb.WebServices.ReturnFolderData=gtc("aci.matweb.WebServices.ReturnFolderData");
aci.matweb.WebServices.ReturnFolderData.registerClass('aci.matweb.WebServices.ReturnFolderData');
}
//]]>
</script>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="F32B4066" />
</div>

<!--
The ScriptManager control is required for all ASP AJAX functionality - especially used by search pages.
It generates the javascript required.
Only one script manager is allowed on a page, and since this is the master page, this is the main script manager
However, a ScriptManagerProxy control can be used to set properties and settings on indivual pages.
For an example, see /WebControls/ucSearchResults.ascx
-->
<script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ajxScriptManager', document.getElementById('aspnetForm'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls([], [], [], 90);
//]]>
</script>


<table class="tabletight" style="width:100%; text-align:center;background-image: url(/images/gray.gif);">
  <tr >
    <td rowspan="2"><a href="/index.aspx"><img src="/images/logo1.gif" width="270" height="42" alt="MatWeb - Material Property Data"  /></a></td>

                
                <td style="text-align:right;vertical-align:middle; width:90%" ><span class='greeting'><span class='hiText'><a href ='/services/advertising.aspx'>Advertise with MatWeb!</a></span>&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                <td style="text-align:right;vertical-align:middle; padding-right:5px;" ><a href='/membership/regstart.aspx'><img src='/images/buttons/btnRegisterBSF.gif' width="62" height="20" alt="Register Now" /></a></td>

                
  </tr>
  <tr >
    <td  align="left" valign="bottom" colspan="2"><span class="tagline">
    
    Data sheets for over <span class="greeting">180,000</span>  metals, plastics, ceramics, and composites.</span></td>
  </tr>
  <tr style="background-image:url(/images/blue.gif); background-color:#000099; " >
    <td bgcolor="#000099"><a href="/index.aspx"><img src="/images/logo2.gif" width="270" height="23px" alt="MatWeb - Material Property Data" border="0" /></a></td>
    <td class="topnavig8" style=" background-color:#000099;vertical-align:middle; text-align:right; white-space:nowrap;" colspan="2" align="right" valign="middle">
        <a href="/index.aspx" class="topnavlink">HOME</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        <a href="/search/search.aspx" class="topnavlink">SEARCH</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        <a href="/tools/tools.aspx" class="topnavlink">TOOLS</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        <a href="/reference/suppliers.aspx" class="topnavlink">SUPPLIERS</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        <a href="/folders/ListFolders.aspx" class="topnavlink">FOLDERS</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        <a href="/services/services.aspx" class="topnavlink">ABOUT US</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        <a href="/reference/faq.aspx" class="topnavlink">FAQ</a>&nbsp;&nbsp;&#8226;&nbsp;&nbsp;
                        
                        <a href="/membership/login.aspx" class="topnavlink">LOG IN</a>
                        
                        &nbsp;
                        
                        &nbsp;
    </td>
  </tr>
</table>

<div id="divRecentMatls" class="tableborder tight" style=" display:none; position:absolute; top:95px; left:150px; width:400px; height:400px;" onmouseover="clearTimeout(tmrtmp);" onmouseout="tmrtmp=setTimeout('RecentMatls.Hide()', 800)">
        <table class="headerblock tabletight" style="vertical-align:top; font-size:13px; width:100%;"><tr>
                <td style="padding:3px;"> Recently Viewed Materials (most recent at top)</td>
                <td style="padding:3px;text-align:right;"><input type="image" src="/images/buttons/btnCloseWhite.gif" onclick="RecentMatls.Hide();return false;" style="cursor:pointer;" />&nbsp;</td>
        </tr></table>
        <div id="divRecentMatlsBody" style="height:375px; overflow:auto; background-color:White;">

                <table id="tblRecentMatls" class="tabledataformat tableloose" style="background-color:White;">
    
                <tr><td>
                <p />
                <a href="/membership/login.aspx">Login</a> to see your most recently viewed materials here.<p />
                Or if you don't have an account with us yet, then <a href="/membership/regstart.aspx">click here to register.</a>
                </td></tr>
                
                </table>

        </div>
</div>

<script type="text/javascript">

        var RecentMatls = new _RecentMatls();
        var tmrtmp;

        function _RecentMatls(){

                var divRecentMatls;
                var tblRecentMatls;
                var trRecentMatlsRowTemplate;
                var trRecentMatlsNoData;
                var DataIsLoaded=false;

                //Using prototype.js methods...
                divRecentMatls = $("divRecentMatls");
                tblRecentMatls = $("tblRecentMatls");
    

                divRecentMatls.style.display = "none";

                this.Toggle = function(){
                        //alert("Toggle()");
                        if(divRecentMatls.style.display == "block"){this.Hide();}
                        else{this.Show();}
                }

                this.Show = function(){
                        //alert("Show()");
                        divRecentMatls.style.display = "block";
                        matweb.toggleSelect(divRecentMatls,0);
                        if(!DataIsLoaded){
            
                        }
                }

                this.Hide = function(){
                        //alert("Hide()");
                        divRecentMatls.style.display = "none";
                        matweb.toggleSelect(divRecentMatls,1);
                }

    

        }//end class

</script>

<table class="tabletight t_ableborder t_ablegrid" style="width:100%;" >
  <tr>
   <td style="width:100%; height:27px; white-space:nowrap; text-align:left; vertical-align:middle;" class="tagline" >
      <span class="navlink"><b>&nbsp;&nbsp;Searches:</b></span>
      &nbsp;&nbsp;<a href="/search/AdvancedSearch.aspx" class="navlink"><span class="nav"><font color="#CC0000">Advanced</font></span></a>
      &nbsp;|&nbsp;<a href="/search/MaterialGroupSearch.aspx" class="navlink"><span class="nav">Category</span></a>
      &nbsp;|&nbsp;<a href="/search/PropertySearch.aspx" class="navlink"><span class="nav">Property</span></a>
      &nbsp;|&nbsp;<a href="/search/CompositionSearch.aspx" class="navlink"><span class="nav">Metals</span></a>
      &nbsp;|&nbsp;<a href="/search/SearchTradeName.aspx" class="navlink"><span class="nav">Trade Name</span></a>
      &nbsp;|&nbsp;<a href="/search/SearchManufacturerName.aspx" class="navlink"><span class="nav">Manufacturer</span></a>
                &nbsp;|&nbsp;<a href="javascript:RecentMatls.Toggle();" id="ctl00_lnkRecentMatls" class="navlink"><span class="nav"><font color="#CC0000">Recently Viewed Materials</font></span></a>
    </td>

    <td style="text-align:right; vertical-align:bottom; padding-right:5px;">

      <table class="tabletight t_ableborder" ><tr>
        <td style=" white-space:nowrap; vertical-align:bottom; " >
                                        &nbsp;&nbsp;
                                        <input name="ctl00$txtQuickText" type="text" id="ctl00_txtQuickText" style="width:100px;" maxlength="40" class="quicksearchinput" onkeydown="txtQuickText_OnKeyDown(event);" />
                                        <input type="image" id="btnQuickTextSearch" style="vertical-align:top; width:60px; height:25px;" src="/images/buttons/btnSearch.gif" alt="Search" onclick="return btnQuickTextSearch_Click()"  />
                                        <script type="text/javascript">

                                                //SETUP THE AUTOPOST ON ENTER KEY EVENT FOR txtQuickText FIELD
                                                //document.getElementById("ctl00_txtQuickText").onkeydown=txtQuickText_OnKeyDown;

                                                function txtQuickText_OnKeyDown(evt){
                                                        //SUBMIT THE FORM AS IF THE BUTTON WAS PUSHED
                                                        //var UniqueID = "";
                                                        var txtQuickText = document.getElementById('ctl00_txtQuickText');
                                                        if(matweb.IsEnterKey(evt))
                                                                if(checkSearchText(txtQuickText))
                                                                        //matweb.DoPostBack(UniqueID, "");
                                                                        window.location.href="/search/QuickText.aspx?SearchText=" + escape(txtQuickText.value);
                                                        return false;
                                                }

                                                function btnQuickTextSearch_Click(){
                                                        var txtQuickText = document.getElementById('ctl00_txtQuickText');
                                                        if(checkSearchText(txtQuickText))
                                                                window.location.href="/search/QuickText.aspx?SearchText=" + escape(txtQuickText.value);
                                                        return false;
                                                }

                                                function checkSearchText(searchbox){
                                                        searchbox.value = trim(searchbox.value);
                                                        if(searchbox.value == ''){
                                                                //alert('Please enter something to search for');
                                                                matweb.alert('Please enter something to search for', 'Search Error');
                                                                //searchbox.focus();
                                                                return false;
                                                        }
                                                        return true;
                                                }

                                                function trim(s)  { return ltrim(rtrim(s)) }
                                                function ltrim(s) { return s.replace(/^\s+/g, "") }
                                                function rtrim(s) { return s.replace(/\s+$/g, "") }

                                        </script>
                                </td>
                                </tr>
                        </table>

    </td>
  </tr>
  <tr style="background-image:url(/images/shad.gif);height:7px;" ><td colspan="2"></td></tr>
</table>

<!-- ====================================== MAIN CONTENT ============================================= -->
<div style="vertical-align:top; padding-left:10px; padding-right:10px;" >


	
	
	
	
	<center>
	<p style="text-align:center">
		<a href="/clickthrough.aspx?addataid=1349"><img src="/images/assets/metalmen-Aluminum.png" border=0 alt="Metalmen Sales" width = "728" height = "90"></a>

	</p>
	</center>	
	
	

<!-- This sets up the framework to use the FolderService calls in javascript -->



<script type="text/javascript">
  var PrintWindow;
  function OpenPrintWindow(MatGUID,NativeFlag){
    //var url = "datasheet_print.aspx?matid=" + MatID;
    var url = "datasheet_print.aspx?matguid=" + MatGUID;
    if(NativeFlag) url += "&n=1";
    //alert(url);
    PrintWindow = window.open(url,'PrintWindow','width=750,height=550,top=5,left=5,resizable=yes,scrollbars=yes,location=yes,menubar=yes,toolbar=yes')
    PrintWindow.focus();
  }
</script>


<script type="text/javascript">

  var currentCheckbox;
  // If the FolderService created a new folder, the ID will be stored in this variable.
  // The first time a material is checked, and there are no folders, the folder web service creates a NEW FOLDER
  var NewFolderID = 0;

  function UnregisteredUserMessage(chkBoxID){
    document.getElementById(chkBoxID).checked = false;
    matweb.alert("This feature is reserved for registered users.<p/><a href='/membership/regstart.aspx'>Click here to register.</a>","Reserved Feature");
  }

  function ToggleMat(chkBoxID,MatID,MatName,FolderListID){

    var FolderID,Context;
    //alert("chkBoxID: " + chkBoxID);
    //alert("MatID: " + MatID);
    //alert("MatName: " + MatName);
    //alert("FolderListID: " + FolderListID);

    currentCheckbox = document.getElementById(chkBoxID); //This variable is used later, by the ToggleHander() function
    folderList = document.getElementById(FolderListID);
    var SelectedOption = folderList.options[folderList.selectedIndex];

    //check if the NewFolderID was created
    if(NewFolderID > 0)
      FolderID = NewFolderID;
    else
      FolderID = SelectedOption.value; //this will be 0 if no folders exist yet

    //alert("FolderID: " + FolderID);

    // call the folder web service
    // See: ScriptManagerProxy object at the top of this page
    // Also See: /WebServices/Folders.asmx & /App_Code/FolderService.cs
    if(currentCheckbox.checked){
      Context = "ucDataSheet.AddMat";
      aci.matweb.WebServices.Folders.AddMaterial(FolderID, MatID, MatName, ToggleHandler,ErrorHandler,Context);
    }
    else{
      Context = "ucDataSheet.RemoveMat";
      aci.matweb.WebServices.Folders.RemoveMaterial(FolderID, MatID, ToggleHandler,ErrorHandler,Context);
    }

  }

  // CALLBACK FUNCTION
  // This function is called by the AJAX framework after the web service is invoked.
  // It returns data from the web service, in the form of a ReturnData object. See /App_Code/FolderService.cs
  function ToggleHandler(data,context){

    //alert(data);
    //alert(context);

    //The folder web service returns a data object with 4 fields
    //alert("data.FolderMatCount: " + data.FolderMatCount);
    //alert("data.FolderMaxMatls: " + data.FolderMaxMatls);
    //alert("data.NewFolderID: " + data.NewFolderID);
    //alert("data.DisplayMessage: " + data.DisplayMessage);

    var txtFolderMatCount = document.getElementById("ctl00_ContentMain_ucDataSheet1_txtFolderMatCount");
    txtFolderMatCount.value = data.FolderMatCount + "/" + data.FolderMaxMatls;

    // a new folder may have been created, if this is the first time the user checked the checkbox,
    // or if the user deleted the folder
    // save the new folderID to a common variable, so we can reference it in ToggleMat()
    if(data.NewFolderID > 0) {
      NewFolderID = data.NewFolderID;
      //alert("NewFolderID: " + NewFolderID);
    }

    switch(context){
    case "ucDataSheet.AddMat":
      if(data.DisplayMessage){
        currentCheckbox.checked = false;
        matweb.alert(data.DisplayMessage);
      }
      break
    case "ucDataSheet.RemoveMat":
      break
    default:
      matweb.Alert("Unhandeled Context in ToggleHandler() function: " + Context);
    }//end switch


  }//end function

  function SetSelectedFolder(){

    folderList = document.getElementById("ctl00_ContentMain_ucDataSheet1_drpFolderList");
    var SelectedOption = folderList.options[folderList.selectedIndex];
    var SelectedFolderID = SelectedOption.value;
    var MatID = 8720;

    //alert("SelectedFolderID :" + SelectedFolderID)
    //alert("MatID :" + MatID);

    // call the folder web service
    // See: ScriptManagerProxy object at the top of this page
    // See: /folders/FolderService.asmx & /App_Code/FolderService.cs
    aci.matweb.WebServices.Folders.SetSelectedFolder(SelectedFolderID,SetSelectedFolderHandler,ErrorHandler,"update_txtFolderMatCount");

  }

  // CALLBACK FUNCTION
  function SetSelectedFolderHandler(data,context){

    //alert(data);
    // alert(context);

    // the folder web service returns an object with 4 fields
    //alert("data.FolderMatCount: " + data.FolderMatCount);
    //alert("data.FolderMaxMatls: " + data.FolderMaxMatls);
    //alert("data.FolderMatIDList: " + data.FolderMatIDList);
    //alert("data.DisplayMessage: " + data.DisplayMessage);

    if(data.DisplayMessage){
      matweb.alert(data.DisplayMessage);
    }

    var txtFolderMatCount = document.getElementById("ctl00_ContentMain_ucDataSheet1_txtFolderMatCount");
    txtFolderMatCount.value = data.FolderMatCount + "/" + data.FolderMaxMatls;

    //alert("data.MatIDList: " + data.FolderMatIDList);

    if(data.DisplayMessage){
      matweb.alert(data.DisplayMessage);
    }

    //alert(SearchMatIDList);
    var chkAddToFolder = document.getElementById("ctl00_ContentMain_ucDataSheet1_chkAddToFolder");
    chkAddToFolder.checked = false;
    var MatID = 8720;

    //loop over all materials in the folder
    for(i=0;i<data.FolderMatIDList.length;i++){
      if(data.FolderMatIDList[i]==MatID){
        //alert("Match found: " + data.FolderMatIDList[f]);
        chkAddToFolder.checked = true;
      }
    }

  }//end function

  // CALLBACK FUNCTION
  // Returns true/false in data.  See /App_Code/FolderService.cs
  function IsMatInFolderHandler(data,context){
    // alert("data: " + data);
    // alert(context);
    var chkAddToFolder = document.getElementById("ctl00_ContentMain_ucDataSheet1_chkAddToFolder");
    chkAddToFolder.checked = data;
  }//end function


  // ON ERROR CALLBACK FUNCTION
  function ErrorHandler(error,context) {

      var stackTrace = error.get_stackTrace();
      var message = error.get_message();
      var statusCode = error.get_statusCode();
      var exceptionType = error.get_exceptionType();
      var timedout = error.get_timedOut();

      var debug = false;

      // Compose the error message...
      var ErrMsg =
          "<strong>Stack Trace</strong><br/>" +  stackTrace + "<br/>" +
          "<strong>WebService Error</strong><br/>" + message + "<br/>" +
          "<strong>Status Code</strong><br/>" + statusCode + "<br/>" +
          "<strong>Exception Type</strong><br/>" + exceptionType + "<br/>" +
          "<strong>JS Context</strong><br/>" + context + "<br/>" +
          "<strong>Timedout</strong><br/>" + timedout + "<br/>" +
          "<strong>Source Page</strong><br/>" + "/search/DataSheet.aspx";
      if(debug){
        matweb.alert(ErrMsg,"Error in WebService");
      }
      else{
        ErrMsg = escape(ErrMsg);
        //matweb.alert(ErrMsg);
        window.location.href="/errorJS.aspx?ErrMsg=" + ErrMsg;
      }

  }

</script>



<div id="ctl00_ContentMain_ucDataSheet1_pnlMaterialData">
	

  

  <table class="tabledataformat t_ableborder tableloose altrow" style="margin-top:10px;">

    <tr><th scope="col" colspan="2" style="font-size:larger;">Aluminum 1050-H14
      
      
      
    </th></tr>

    <tr id="ctl00_ContentMain_ucDataSheet1_trMatlGroups">
		<th scope="row" class="rowHeaders" style="vertical-align:top;"><b>Categories: </b></th>
		<td><a href="/Search/MaterialGroupSearch.aspx?GroupID=9" title="See all materials in this category.">Metal</a>; <a href="/Search/MaterialGroupSearch.aspx?GroupID=177" title="See all materials in this category.">Nonferrous Metal</a>; <a href="/Search/MaterialGroupSearch.aspx?GroupID=178" title="See all materials in this category.">Aluminum Alloy</a>; <a href="/Search/MaterialGroupSearch.aspx?GroupID=201" title="See all materials in this category.">1000 Series Aluminum</a><p /></td>
	</tr>
	

    <tr id="ctl00_ContentMain_ucDataSheet1_trMatlNotes">
		<th scope="row" class="rowHeaders" style="vertical-align:top;"><b>Material Notes: </b></th>
		<td>Data points with the AA note have been provided by the Aluminum Association, Inc. and are NOT FOR DESIGN.<p/><b>Composition Notes</b>: <br>The aluminum content for unalloyed aluminum not made by a refining process is the difference between 100.00 percent and the sum of all other analyzed metallic elements present in amounts of 0.010 percent of more each, expressed to the second decimal before determining the sum.  For alloys and unalloyed aluminum not made by a refining process, when the specified maximum limit is 0.XX, an observed value or a calculated value greater than 0.005 but less than 0.010% is rounded off and shown as " less than 0.01%".<br>Composition information provided by the Aluminum Association and is not for design.</td>
	</tr>
	

    <tr id="ctl00_ContentMain_ucDataSheet1_trKeyWords">
		<th scope="row" class="rowHeaders" style="vertical-align:top;"><b>Key Words: </b></th>
		<td>Aluminium 1050-H14; UNS A91050; NF A5 (France); DIN Al99.5; AA1050-H14, ASTM B491; BS 1B (UK); CSA 9950 (Canada); ASTM B491; Al1050-H14</td>
	</tr>
	

    <tr>
      <th scope="row" class="rowHeaders" style="vertical-align:top;"><strong>Vendors: </strong></th>
      <td>No vendors are listed for this material. Please <a href="/services/advertising.aspx">click here</a> if you are a supplier and would like information on how to add your listing to this material.</td>
    </tr>

    <tr ><td colspan="2" style="border:thin 1px black; padding:0xp;" >
      <div id="ctl00_ContentMain_ucDataSheet1_tblUserControls" class="tabletight t_ableborder" style="width:100%; background-color:inherit;">
        
          <div style="vertical-align:bottom; background-color:inherit;">
            <a href="javascript: OpenPrintWindow('b1aa69c0528a40729478403542a8c94a',0);" ><img src="/images/buttons/iconPrint.gif" border="0" width="16" height="14" alt="Printer friendly version" />&nbsp;<small>Printer friendly version</small></a>&nbsp;
            
            <span id="ctl00_ContentMain_ucDataSheet1_pnlPDF_Unregistered"><a href='javascript:void()' onclick="matweb.alert('This feature is only available to our <a href=\'/membership/regstart.aspx\'>registered</a> users.','PDF Unavailable');return false;"><img src="/images/buttons/iconPDF.gif" alt="PDF Download" />&nbsp;<small>Download as PDF</small></a></span>
            
            <span id="ctl00_ContentMain_ucDataSheet1_pnlIQY_Unregistered"><a href='javascript:void()' onclick="matweb.alert('This feature is only available to our <a href=\'/membership/regstart.aspx\'>registered</a> users.','Export Unavailable');return false;"><img src="/images/buttons/iconExcel.gif" alt="Excel Download" />&nbsp;<small>Download to Excel (requires Excel and Windows)</small></a></span>
            <span id="ctl00_ContentMain_ucDataSheet1_pnlFEA_Unregistered"><br /><a href='/help/fea_export.aspx'><img src="/images/buttons/exportdataicon.gif" alt="Export to FEA" />&nbsp;<small>Export data to your CAD/FEA program</small></a></span>
          </div>
          <div style="text-align:right; vertical-align:bottom;background-color:inherit;">
            <span class="smGrey">Add to Folder: </span><input id="ctl00_ContentMain_ucDataSheet1_chkAddToFolder" type="checkbox" name="ctl00$ContentMain$ucDataSheet1$chkAddToFolder" onclick="UnregisteredUserMessage('ctl00_ContentMain_ucDataSheet1_chkAddToFolder');" />
            <select name="ctl00$ContentMain$ucDataSheet1$drpFolderList" id="ctl00_ContentMain_ucDataSheet1_drpFolderList" onchange="SetSelectedFolder();">
		<option selected="selected" value="0">My Folder</option>
	</select>
            <strong><input name="ctl00$ContentMain$ucDataSheet1$txtFolderMatCount" type="text" id="ctl00_ContentMain_ucDataSheet1_txtFolderMatCount" readonly="readonly" style="border:none 0 white; background-color:inherit; color:Black; width: 35px; font-weight:bold;" value="0/0" /></strong>
          </div>
        
      </div>
    </td></tr>

  </table>


  <table class="tabledataformat" cellspacing="0" ><tr><td colspan=4>&nbsp;</td></tr><tr><th  >Physical Properties</th><th scope="col" class="dataCell">Metric</th><th scope="col" class="dataCell">English</th><th scope="col" class="dataCell">Comments</th></tr><tr class="altrow datarowSeparator"><td style="vertical-align:top;">Density&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=43&amp;fromValue=2.705" class="unitlink" title="Click to see this value in other UOMs">2.705</a> g/cc<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=87&amp;fromValue=0.09772" class="unitlink" title="Click to see this value in other UOMs">0.09772</a> lb/in³<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;">AA; Typical</td></tr>
<tr><td colspan=4>&nbsp;</td></tr><tr><th  >Mechanical Properties</th><th scope="col" class="dataCell">Metric</th><th scope="col" class="dataCell">English</th><th scope="col" class="dataCell">Comments</th></tr><tr class="altrow datarowSeparator"><td style="vertical-align:top;">Hardness, Brinell&nbsp;</td><td class="dataCell" style="vertical-align:top;">30<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;">30<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;">500 kg load with 10 mm ball.  Calculated value.</td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Tensile Strength, Ultimate&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=108&amp;fromValue=110" class="unitlink" title="Click to see this value in other UOMs">110</a> MPa<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=123&amp;fromValue=16000" class="unitlink" title="Click to see this value in other UOMs">16000</a> psi<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Tensile Strength, Yield&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=108&amp;fromValue=103" class="unitlink" title="Click to see this value in other UOMs">103</a> MPa<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=123&amp;fromValue=14900" class="unitlink" title="Click to see this value in other UOMs">14900</a> psi<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Elongation at Break&nbsp;</td><td class="dataCell" style="vertical-align:top;">10 %<span class="dataCondition"><br>@Thickness 1.60 mm</span></td><td class="dataCell" style="vertical-align:top;">10 %<span class="dataCondition"><br>@Thickness 0.0630 in</span></td><td class="dataComment" style="vertical-align:top;">In 5 cm</td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Tensile Modulus&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=45&amp;fromValue=69.0" class="unitlink" title="Click to see this value in other UOMs">69.0</a> GPa<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=78&amp;fromValue=10000" class="unitlink" title="Click to see this value in other UOMs">10000</a> ksi<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;">Compressive Modulus is about 2% higher</td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Poissons Ratio&nbsp;</td><td class="dataCell" style="vertical-align:top;">0.33<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;">0.33<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Shear Modulus&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=45&amp;fromValue=26.0" class="unitlink" title="Click to see this value in other UOMs">26.0</a> GPa<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=78&amp;fromValue=3770" class="unitlink" title="Click to see this value in other UOMs">3770</a> ksi<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;">Estimated from similar Al alloys.</td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Shear Strength&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=108&amp;fromValue=69.0" class="unitlink" title="Click to see this value in other UOMs">69.0</a> MPa<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=123&amp;fromValue=10000" class="unitlink" title="Click to see this value in other UOMs">10000</a> psi<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr><td colspan=4>&nbsp;</td></tr><tr><th  >Electrical Properties</th><th scope="col" class="dataCell">Metric</th><th scope="col" class="dataCell">English</th><th scope="col" class="dataCell">Comments</th></tr><tr class="altrow datarowSeparator"><td style="vertical-align:top;">Electrical Resistivity&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=115&amp;fromValue=0.00000290" class="unitlink" title="Click to see this value in other UOMs">0.00000290</a> ohm-cm<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=115&amp;fromValue=0.00000290" class="unitlink" title="Click to see this value in other UOMs">0.00000290</a> ohm-cm<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr><td colspan=4>&nbsp;</td></tr><tr><th  >Thermal Properties</th><th scope="col" class="dataCell">Metric</th><th scope="col" class="dataCell">English</th><th scope="col" class="dataCell">Comments</th></tr><tr class="altrow datarowSeparator"><td style="vertical-align:top;">Heat of Fusion&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=64&amp;fromValue=390" class="unitlink" title="Click to see this value in other UOMs">390</a> J/g<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=11&amp;fromValue=168" class="unitlink" title="Click to see this value in other UOMs">168</a> BTU/lb<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">CTE, linear <a href="/search/GraphConditionalData.aspx?matguid=b1aa69c0528a40729478403542a8c94a&propid=182&sigid=1" title="Graph this set of conditional data"><img src="/images/smallchart.gif" alt=""></a>&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=5&amp;fromValue=21.8" class="unitlink" title="Click to see this value in other UOMs">21.8</a> µm/m-°C<span class="dataCondition"><br>@Temperature -50.0 - 20.0 °C</span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=4&amp;fromValue=12.1" class="unitlink" title="Click to see this value in other UOMs">12.1</a> µin/in-°F<span class="dataCondition"><br>@Temperature -58.0 - 68.0 °F</span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=5&amp;fromValue=23.6" class="unitlink" title="Click to see this value in other UOMs">23.6</a> µm/m-°C<span class="dataCondition"><br>@Temperature 20.0 - 100 °C</span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=4&amp;fromValue=13.1" class="unitlink" title="Click to see this value in other UOMs">13.1</a> µin/in-°F<span class="dataCondition"><br>@Temperature 68.0 - 212 °F</span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=5&amp;fromValue=24.5" class="unitlink" title="Click to see this value in other UOMs">24.5</a> µm/m-°C<span class="dataCondition"><br>@Temperature 20.0 - 200 °C</span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=4&amp;fromValue=13.6" class="unitlink" title="Click to see this value in other UOMs">13.6</a> µin/in-°F<span class="dataCondition"><br>@Temperature 68.0 - 392 °F</span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=5&amp;fromValue=25.5" class="unitlink" title="Click to see this value in other UOMs">25.5</a> µm/m-°C<span class="dataCondition"><br>@Temperature 20.0 - 300 °C</span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=4&amp;fromValue=14.2" class="unitlink" title="Click to see this value in other UOMs">14.2</a> µin/in-°F<span class="dataCondition"><br>@Temperature 68.0 - 572 °F</span></td><td class="dataComment" style="vertical-align:top;">average</td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Specific Heat Capacity&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=65&amp;fromValue=0.900" class="unitlink" title="Click to see this value in other UOMs">0.900</a> J/g-°C<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=12&amp;fromValue=0.215" class="unitlink" title="Click to see this value in other UOMs">0.215</a> BTU/lb-°F<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Thermal Conductivity&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=136&amp;fromValue=227" class="unitlink" title="Click to see this value in other UOMs">227</a> W/m-K<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=10&amp;fromValue=1580" class="unitlink" title="Click to see this value in other UOMs">1580</a> BTU-in/hr-ft²-°F<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Melting Point&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=2&amp;fromValue=646" class="unitlink" title="Click to see this value in other UOMs">646</a> - <a href="/tools/unitconverter.aspx?fromID=2&amp;fromValue=657" class="unitlink" title="Click to see this value in other UOMs">657</a> °C<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=3&amp;fromValue=1190" class="unitlink" title="Click to see this value in other UOMs">1190</a> - <a href="/tools/unitconverter.aspx?fromID=3&amp;fromValue=1210" class="unitlink" title="Click to see this value in other UOMs">1210</a> °F<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Solidus&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=2&amp;fromValue=646" class="unitlink" title="Click to see this value in other UOMs">646</a> °C<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=3&amp;fromValue=1190" class="unitlink" title="Click to see this value in other UOMs">1190</a> °F<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Liquidus&nbsp;</td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=2&amp;fromValue=657" class="unitlink" title="Click to see this value in other UOMs">657</a> °C<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><a href="/tools/unitconverter.aspx?fromID=3&amp;fromValue=1210" class="unitlink" title="Click to see this value in other UOMs">1210</a> °F<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr><td colspan=4>&nbsp;</td></tr><tr><th  >Component Elements Properties</th><th scope="col" class="dataCell">Metric</th><th scope="col" class="dataCell">English</th><th scope="col" class="dataCell">Comments</th></tr><tr class="altrow datarowSeparator"><td style="vertical-align:top;">Aluminum, Al&nbsp;</td><td class="dataCell" style="vertical-align:top;">>= 99.50 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;">>= 99.50 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;">Specified</td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Copper, Cu&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Iron, Fe&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.40 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.40 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Magnesium, Mg&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Manganese, Mn&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Other, each&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.03 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.03 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Silicon, Si&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.25 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.25 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Titanium, Ti&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.03 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.03 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class="altrow datarowSeparator"><td style="vertical-align:top;">Vanadium, V&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
<tr class=" datarowSeparator"><td style="vertical-align:top;">Zinc, Zn&nbsp;</td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataCell" style="vertical-align:top;"><= 0.05 %<span class="dataCondition"></span></td><td class="dataComment" style="vertical-align:top;"></td></tr>
</table >
  
  

  <p><a href="/search/GetReference.aspx?matid=8720"><b>References</b></a> for this datasheet.</p>

  <p />
  
  

  <div class="tableborder" style=" font-size:10px;">
  Some of the values displayed above may have been converted from their original units and/or rounded in order to
  display the information in a consistent format. Users requiring more precise data for scientific or engineering
  calculations can click on the property value to see the original value as well as raw conversions to equivalent units.
  We advise that you only use the original value or one of its raw conversions in your calculations to minimize rounding
  error. We also ask that you refer to MatWeb's <a href="/reference/terms.aspx" target="_blank">terms of use</a> regarding this information.

  
  <a href="/search/datasheet.aspx?matguid=b1aa69c0528a40729478403542a8c94a&n=1">Click here</a> to view
  all the property values for this datasheet as they were originally entered into MatWeb.
  
  </div>
  <!---BASS NUMBER and MatID: --->
  <!--<br />MA1050H14  / 8720<br />-->


</div>


	<br /><b>Users viewing this material also viewed the following:</b><br /><a href="/search/datasheet.aspx?MatGUID=f54812ceded24176b44c4e0af379ea39" rel="nofollow">Aluminum 1050-H16</a><br /><a href="/search/datasheet.aspx?MatGUID=9b89488c8aa84e91b6825ed9a08c5a84" rel="nofollow">Aluminum 1050-H18</a><br /><a href="/search/datasheet.aspx?MatGUID=273c1ffbdc134a8292c704da3ee2ff35" rel="nofollow">Aluminum 1050-O</a><br /><a href="/search/datasheet.aspx?MatGUID=c0652f2efeac49b89b50e7e4c6fba759" rel="nofollow">Aluminum 1100-H14</a><br /><a href="/search/datasheet.aspx?MatGUID=264a79a330914c589bdeae866556cb3d" rel="nofollow">Aluminum 5050-H32</a><br />
	
	<br />MA1050H14  / 8720<br />
	<center>	
	
	
	<p style="text-align:center">
		<a href="https://proto3000.com">Proto3000</a>

	</p>	
	</center>	
	

</div>
<!-- ===================================== END MAIN CONTENT ========================================== -->

<table class="tabletight" style="width:100%" >
        <tr>
                <td align="center" class="footer" colspan="3">
                        <br /><br />
                
                        <a href="/membership/regupgrade.aspx" class="footlink"><span class="subscribeLink">Subscribe to Premium Services</span></a><br/>
                
                        <span class="footer"><b>Searches:</b>&nbsp;&nbsp;</span>
                        <a href="/search/AdvancedSearch.aspx" class="footlink"><span class="foot">Advanced</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/search/CompositionSearch.aspx" class="footlink"><span class="foot">Composition</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/search/PropertySearch.aspx" class="footlink"><span class="foot">Property</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/search/MaterialGroupSearch.aspx" class="footlink"><span class="foot">Material&nbsp;Type</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/search/SearchManufacturerName.aspx" class="footlink"><span class="foot">Manufacturer</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/search/SearchTradeName.aspx" class="footlink"><span class="foot">Trade&nbsp;Name</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/search/SearchUNS.aspx" class="footlink"><span class="foot">UNS Number</span></a>
                        <br />
                        <span class="footer"><b>Other&nbsp;Links:</b>&nbsp;&nbsp;</span>
                        <a href="/services/advertising.aspx" class="footlink"><span class="foot">Advertising</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/services/submitdata.aspx" class="footlink"><span class="foot">Submit&nbsp;Data</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/services/databaselicense.aspx" class="footlink"><span class="foot">Database&nbsp;Licensing</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/services/webhosting.aspx" class="footlink"><span class="foot">Web&nbsp;Design&nbsp;&amp;&nbsp;Hosting</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/clickthrough.aspx?addataid=277" class="footlink"><span class="foot">Trade&nbsp;Publications</span></a>

                        <br />
                        <a href="/reference/suppliers.aspx" class="footlink"><span class="foot">Supplier&nbsp;List</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/tools/unitconverter.aspx" class="footlink"><span class="foot">Unit&nbsp;Converter</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/tools/contents.aspx#reference" class="footlink"><span class="foot">Reference</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/reference/link.aspx" class="footlink"><span class="foot">Links</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/help/help.aspx" class="footlink"><span class="foot">Help</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/services/contact.aspx" class="footlink"><span class="foot">Contact&nbsp;Us</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/tools/contents.aspx" class="footlink"><span class="foot" style="color:red;">Site&nbsp;Map</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/reference/faq.aspx" class="footlink"><span class="foot">FAQ</span></a>&nbsp; &#8226; &nbsp;
                        <a href="/index.aspx" class="footlink"><span class="foot">Home</span></a>
                        <br />&nbsp;
                        <div id="fb-root"></div>

<table><tr><td><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="https://www.facebook.com/MatWeb.LLC" width="175" show_faces="false" stream="false" header="false"></fb:like-box>

</td><td>

<a href="https://twitter.com/MatWeb" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @MatWeb</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</td></tr></table>
                </td>
        </tr>
        <tr>
                <td colspan="3"><img src="/images/bluebar.gif" width="100%" height="5" alt="" /></td>
        </tr>
        <tr>
                <td style="background-image:url(/images/gray.gif);"><img src="/images/spacer.gif" width="5" height="1" alt=""/></td>
                <td style="background-image:url(/images/gray.gif);">
                        <span class="footer">
                        Please read our <a href="/reference/terms.aspx" class="footlink"><span class="foot">License Agreement</span></a> regarding materials data and our  <a href="/reference/privacy.aspx" class="footlink"><span class="foot">Privacy Policy</span></a>.
                        Questions or comments about MatWeb? Please contact us at
                        <a href="mailto:webmaster@matweb.com" class="footlink"><span class="foot">webmaster@matweb.com</span></a>. We appreciate your input.
                        <br /><br />
                        The contents of this web site, the MatWeb logo, and "MatWeb" are Copyright 1996-2024
                        by MatWeb, LLC. MatWeb is intended for personal, non-commercial use. The contents, results, and technical data from this site
                        may not be reproduced either electronically, photographically or substantively without permission from MatWeb, LLC.
                        </span>
                        <br />
                </td>

                <td style="background-image:url(/images/gray.gif);"><img src="/images/spacer.gif" width="5" height="1" alt=""/></td>
        </tr>
</table>





<script type="text/javascript">
//<![CDATA[
Sys.Application.initialize();
//]]>
</script>
</form>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15290815-1");
pageTracker._setDomainName(".matweb.com");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- 20160905 insert SpecialChem javascript -->
<script type="text/javascript" src="//collect.specialchem.com/collect.js"></script>
<script type="text/javascript">
    //<![CDATA[
    var _spc = (_spc || []);
    _spc.push(['init',
    {
        partner: 'MatWeb'
        
        //, iid: '12345'
    }]);
    //]]>
</script>
<script> (function(){ var s = document.createElement('script'); var h = document.querySelector('head') || document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, disableBgProcess : false, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'bottom', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 20, triggerOffsetY : 20, triggerRadius : '20' } }); }; h.appendChild(s); })();</script>
</body>
</html>
